
.mobile{
    background: #f5f5f5 url(../images/header.png) no-repeat;
    background-size: 100%;
    padding-top: .6rem;
    padding-left: .13rem;
    padding-right: .13rem;
    min-height: 7rem;
    padding-bottom: .35rem;
}

#mobile .head{
    width: 100%;
    padding-left: .1rem;
    color:white;
    font-size: .12rem;
    line-height: .25rem;
}

#mobile .header{
    width: 100%;
    background: white;
    min-height: .1rem;
    border-radius: 5px;
    margin-top: .15rem;
}



#mobile .footer{
    width: 100%;
    margin:0 auto;
    font-size: .1rem;
    color:white;
    background: #3098f0;
    position: fixed;
    bottom: 0;
    z-index: 99;
}
#mobile .foot{
display: flex;
height: .35rem;
justify-content: center;
align-items: center;
width: 100%;
}
#mobile .foot img{
    width: .2rem;
    margin-left: .05rem;
    margin-right: .05rem;
}

 .ant-drawer-body{
    padding-top: 10px;
    font-size: .15rem;
}

.addnum{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.am-stepper.showNumber{
    width: 100px;
}


#mobile .headertitle{
    height: .45rem;
    border-bottom: 1px solid #eaeaea;
    font-size: .17rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .1rem;
    padding-left: .14rem;
}

#mobile .Accordion{
    height: .45rem;
    font-size: .17rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#mobile .Accordionmore{
    font-size: .14rem;
    color:#999;
}


#mobile .borderimg{
    width: .05rem;
    margin-right: .05rem;
}

#mobile .more{
    font-size: .14rem;
    color:#2374ee;
}

#mobile .contentline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .35rem;
    line-height: .35rem;
}

#mobile .content{
    padding-right: .1rem;
    padding-left: .14rem;
    font-size: .15rem;
}


#mobile .lefttitle{
    color:#999999;
    font-size: .15rem;
    display: flex;
    align-items: center;
}

#mobile .lefttitle img{
    width: .15rem;
    margin-right: .05rem;
}

#mobile .lefttitles{
    color:#999999;
    font-size: .15rem;
    display: flex;
    align-items: center;
}

#mobile .lefttitles img{
    width: .5rem;
    margin-right: .05rem;
}

#mobile .list{
    margin-top: .1rem;
}

#mobile .contmid{
    font-size: .12rem;
}

#mobile .contlefttext{
    margin-left: .05rem;
    margin-right: .05rem;
    color:#2374ee;
}


.alarmtable td{
   padding: 15px 0px !important; 
}

/* 

#mobile .text{
    margin-left: .25rem;
    color: white;
    font-size:.3rem;
}
#mobile .nav{
    width: 90%;
    margin:0 auto;
    height: 1rem;
    background: white;
    border-radius: 10px;
    margin-top:.25rem;
    box-shadow:  3px 3px 5px #888888;
    display: flex;
    align-items: center;
}
#mobile  .am-list-item .am-list-line .am-list-content{
    font-size: 15px;
}
#mobile  .navbar{
    width: 33%;
    float: left;
    height: .4rem;
    text-align: center;
    font-size: .22rem;
    font-family: '微软雅黑';
    border-right:2px solid #3098f0;
}
#mobile  .navbar img{
    margin-top: -.2rem;
    margin-bottom: .1rem;
}
#mobile  .navbar span{
    margin-top: -.15rem;
}
#mobile  .content{
    width: 90%;
    margin: 0 auto;
}
#mobile .contenthead{
    padding-bottom: .1rem;
    border-bottom: 2px solid #f7f7f7;
    font-size: .25rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}
#mobile .list li{
    list-style: none;
}
#mobile .list li span{
    color:#999;
}
#mobile .list{
    font-size: .22rem;
    line-height: .5rem;
    margin-top: .1rem;
    padding-bottom: .1rem;
}
#mobile .dash{
    width: 100%;
    height:.2rem;
    background: #f7f7f7;
}
#mobile .footer{
    width: 100%;
    margin:0 auto;
    font-size: .2rem;
    color:white;
    background: #3098f0;
    position: fixed;
    bottom: 0;
    z-index: 99;
}
#mobile .foot{
display: flex;
height: .55rem;
justify-content: center;
align-items: center;
width: 100%;
}


#mobile .ant-table-thead > tr > th{
    padding: .1rem;
}

#mobile  .ant-table-tbody > tr > td{
    padding: .15rem;
}

#mobile .footimg{
    width: 4%;
    vertical-align: middle;
    margin-left: .1rem;
    margin-right: .1rem;
    }

    @media screen and (max-width: 348px) {
        #mobile .footer{
            width: 100%;
        }
        #mobile .foot{
            height: .5rem;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        #mobile .footimg{
            margin-left: .1rem;
            margin-right: .1rem;
        }
        #mobile .shu{
            display: none;
         }
    }
    @media screen and (min-height: 800px) {
        #mobile .head{
            height: 2.4rem;
        }
        #mobile .nav{
            height: 1.2rem;
        }
        #mobile .list {
            font-size: .25rem;
            line-height: .6rem;
        }
        #mobile .footer{
            font-size: .22rem;
        }
        #mobile .foot{
            height: .6rem;
            }
    } */